@import 'tailwindcss' theme(static);

/* bardzo ważne dla Sage/Blade: skanowanie klas */
@source "../views/**/*.blade.php";
@source "../../app/**/*.php";
@source "../js/**/*.{js,ts,jsx,tsx}";

/* Twoje “źródłowe” zmienne RGB */
:root {
  /* base */
  --text-body: 101 89 75; /* #2A3F50 */

/* PRIMARY (czerwony) */
--primary: 226 12 21; /* #E20C15 */
--p-hover: 151 8 14; /* #BC0A12 */

--p-50: 249 206 208; /* #F9CED0 */
--p-100: 245 174 177; /* #F5AEB1 */
--p-200: 241 134 138; /* #F1868A */
--p-300: 236 93 99;   /* #EC5D63 */
--p-400: 231 52 60;   /* #E7343C */
--p-500: 226 12 21;   /* #E20C15 (BASE) */

--p-600: 188 10 18;  /* #BC0A12 */
--p-700: 151 8 14;   /* #97080E */
--p-800: 113 6 11;   /* #71060B */
--p-900: 75 4 7;     /* #4B0407 */
--p-dark: 45 2 4;    /* #2D0204 */


/* SECONDARY (szarości) */
--secondary: 68 59 58; /* #443B3A */
--s-hover: 99 92 91;   /* #635C5B */

--s-50: 218 216 216; /* #DAD8D8 */
--s-100: 193 190 189; /* #C1BEBD */
--s-200: 162 157 157; /* #A29D9D */
--s-300: 130 124 124; /* #827C7C */
--s-400: 99 92 91;    /* #635C5B */
--s-500: 68 59 58;    /* #443B3A (BASE) */

--s-600: 57 49 48;  /* #393130 */
--s-700: 45 39 39;  /* #2D2727 */
--s-800: 34 30 29;  /* #221E1D */
--s-900: 23 20 19;  /* #171413 */
--s-dark: 14 12 12; /* #0E0C0C */

  /* neutrals / fixed backgrounds */
  --gray: #2a3f50;
  --bg: #fff2f2;
  --bg-light: #ffe7e7;
  --bg-lighter: #ffeaea;
  --bg-brand: #d41717;
  --bg-dark: #505509;
}

@theme {
  /* base */
  --color-body: rgb(var(--body));

  /* primary */
  --color-primary: rgb(var(--primary));
  --color-primary-hover: rgb(var(--p-hover));
  --color-primary-50: rgb(var(--p-50));
  --color-primary-100: rgb(var(--p-100));
  --color-primary-200: rgb(var(--p-200));
  --color-primary-300: rgb(var(--p-300));
  --color-primary-400: rgb(var(--p-400));
  --color-primary-500: rgb(var(--p-500));
  --color-primary-600: rgb(var(--p-600));
  --color-primary-700: rgb(var(--p-700));
  --color-primary-800: rgb(var(--p-800));
  --color-primary-900: rgb(var(--p-900));
  --color-primary-dark: rgb(var(--p-dark));

  /* secondary */
  --color-secondary: rgb(var(--secondary));
  --color-secondary-hover: rgb(var(--s-hover));
  --color-secondary-100: rgb(var(--s-100));
  --color-secondary-200: rgb(var(--s-200));
  --color-secondary-300: rgb(var(--s-300));
  --color-secondary-400: rgb(var(--s-400));
  --color-secondary-500: rgb(var(--s-500));
  --color-secondary-600: rgb(var(--s-600));
  --color-secondary-700: rgb(var(--s-700));
  --color-secondary-800: rgb(var(--s-800));
  --color-secondary-900: rgb(var(--s-900));
  --color-secondary-dark: rgb(var(--s-dark));

  --color-gray: var(--gray);
  --color-action: var(--action);

  --color-page: var(--bg);
  --color-background-light: var(--bg-light);
  --color-background-brand: var(--bg-brand);
  --color-background-dark: var(--bg-dark);

  --color-primary-light: var(--color-primary-300);
  --color-primary-lighter: var(--color-primary-100);

  --color-secondary-light: var(--color-secondary-300);
  --color-secondary-lighter: var(--color-secondary-100);

  --color-muted: var(--color-secondary-500);
  --gradient: linear-gradient(90deg, #97080E 0%, #4B0407 100%);
  --gradient-light: linear-gradient(90deg, #97080E 0%, #4B0407 100%);
  --gradient-hero: linear-gradient(-90deg, rgba(151, 8, 14, 0) 0%, rgba(75, 4, 7, 1) 70%);

}

@import '../css/variables.scss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'baguettebox.js/dist/baguetteBox.min.css';

/*-- USED ---*/
@import '../css/blocks/hero.scss';
@import '../css/blocks/help.scss';
@import '../css/blocks/cta-bg.scss';
@import '../css/blocks/tiles.scss';
@import '../css/blocks/content.scss';
@import '../css/blocks/about.scss';
@import '../css/blocks/team.scss';
@import '../css/blocks/offer.scss';
@import '../css/blocks/reviews.scss';
@import '../css/blocks/connect.scss';
@import '../css/blocks/hero-about.scss';
@import '../css/blocks/who.scss';
@import '../css/blocks/numbers.scss';
@import '../css/blocks/places.scss';
@import '../css/blocks/member.scss';
@import '../css/blocks/hero-offer.scss';
@import '../css/blocks/tabs.scss';
@import '../css/blocks/proces.scss';
@import '../css/blocks/faq.scss';
@import '../css/blocks/hero-help.scss';
@import '../css/blocks/overlap.scss';
@import '../css/blocks/contact.scss';
@import '../css/blocks/wehelp.scss';
@import '../css/blocks/prices.scss';
@import '../css/blocks/image.scss';
@import '../css/blocks/cta.scss';
@import '../css/blocks/resources.scss';
@import '../css/blocks/mats.scss';
@import '../css/blocks/jobs.scss';
@import '../css/blocks/hero-blog.scss';
@import '../css/blocks/ebook.scss';
@import '../css/blocks/slider.scss';
@import '../css/blocks/block-clone.scss';
@import '../css/blocks/speakers.scss';

/*-- NOT USED --*/
@import '../css/blocks/complex.scss';
@import '../css/blocks/works.scss';
@import '../css/blocks/category-posts.scss';
@import '../css/blocks/hero-sub.scss';
@import '../css/blocks/hero-brand.scss';
@import '../css/blocks/how.scss';
@import '../css/blocks/quote.scss';
@import '../css/blocks/services.scss';
@import '../css/blocks/twin.scss';
@import '../css/blocks/order.scss';
@import '../css/blocks/cards.scss';
@import '../css/blocks/gains.scss';
@import '../css/blocks/overlap.scss';
@import '../css/blocks/what.scss';
@import '../css/blocks/connect.scss';
@import '../css/blocks/gallery.scss';
@import '../css/blocks/calc.scss';
@import '../css/blocks/tlc.scss';
@import '../css/blocks/categories.scss';
@import '../css/blocks/bottom-block.scss';
@import '../css/blocks/hero-cat.scss';
@import '../css/blocks/hero-job.scss';
@import '../css/blocks/selection.scss';
@import '../css/blocks/product-hero.scss';
@import '../css/blocks/sectors.scss';
@import '../css/blocks/steps.scss';
@import '../css/blocks/values.scss';
@import '../css/blocks/cert.scss';
@import '../css/blocks/catalogues.scss';
@import '../css/blocks/job.scss';
@import '../css/blocks/map.scss';
@import '../css/blocks/logos.scss';
@import '../css/blocks/locations.scss';
@import '../css/blocks/categories.scss';
@import '../css/blocks/area-block.scss';
@import '../css/blocks/cases.scss';
@import '../css/blocks/history.scss';
@import '../css/blocks/cases-slider.scss';
@import '../css/blocks/path.scss';
@import '../css/blocks/duotitle.scss';
@import '../css/blocks/inspirations.scss';
@import '../css/blocks/wysiwyg.scss';
@import '../css/blocks/coop.scss';


@import './megamenu.scss';